//.header {
//  text-align: center;
//  font-weight: bold;
//  font-size: 20px;
//  text-shadow: #248b71 0 0 4px;
//}
//
//.my-btn-styles {
//  background-color: #248b71;
//  border: none;
//}

/*
input {
  box-sizing: border-box;
  width: 90%;
  height: 40px;
  margin-top: 10px;
  font-size: 17px;
  color:  #248b71;
  font-style: italic;
}

button {
  width: 10%;
  height: 40px;
  background-color: #248b71;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

*/
